*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Dongle', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
    

}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.521),rgba(0, 255, 149, 0.432), rgba(255, 196, 0, 0.377)), url(./bg.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    /* color: wheat;; */
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.288);
    font-family: 'Dongle', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Righteous', cursive;
letter-spacing: 2px;
font-size: 20px;

    /* border: 1px solid black; */
    height: 6rem;
    /* background: rgba(0, 195, 255, 0.116); */
    box-shadow: 0px 0px 15px 0px;
    position: sticky;
}
.icon{
    /* border: 1px solid rgb(163, 35, 35); */
    width: 70%; 
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 4rem;
}
#srch{
    height: 90%;
    width: 60%;
    border-radius: 5px;    /* box-shadow: 0; */
    background:rgb(251, 255, 189);
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 160%;
    padding-left: 3.2rem;
    padding-right: 0.5rem;
    color: black;
    /* border: 2px solid rgb(255, 255, 255); */
}
#ic{
    position: absolute;
    top: 21%;
    left: 21%;
    font-size: 1.8rem;
    color: black;
    background: rgba(255, 255, 255, 0);
    
}
.display{
    /* border: 2px solid white; */
    margin: 0 auto;
    width: 80vw;
    height: 27rem;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.158);
    border-radius: 20px;
}
.current{
    /* border: 10px solid rgb(55, 21, 100); */
    /* background: rgba(0, 0, 0, 0.13);
    border-radius: 20px; */
    display: flex;
    /* flex-direction: r; */
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    margin-top: 4rem;
}
.img{
    /* border: 2px solid rgb(255, 0, 140); */
    margin-right: 20px;
    margin-top: 20px;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 90%;
    height: 90%;
}
.img #sun{
    display: none;
}
.img #cloud{
    display: none;
}
.img #fog{
    display: none;
}
.img #dust{
    display: none;
}
.img #snow{
    display: none;
}
.img #rain{
    display: none;
}
.img #mist{
    display: none;
}
.img #drizzle{
    display: none;
}
.info{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 30%;
    font-size: 25px;
    
}
.details{
    width: 40%;
    height: 95%;
    /* border: 2px solid greenyellow; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    
    
}
.details li{
    list-style: none;
}
.footer{
    margin-top: 100px;
    display: flex;
    background: rgba(0, 0, 0, 0.192);
    width: 100%;
    height: 15vh;
    border-radius: 5px;

    /* border: 2px solid tan; */
    box-shadow: 0px 0px 15px 0px black;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.89);
}
.d1,
.d2,
.d3{
    width: 33.333333%;
    /* border: 2px solid greenyellow; */

}
.links{
    margin: 35px auto;
    margin-right: 25px;
    width: 13vw;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid tan; */
}
.links i{
    font-size: 35px;
}
.links i:hover{
    color: rgb(90, 4, 228);
    cursor: pointer;
}
.d2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
